.messages::-webkit-scrollbar {
    display: none;
}

.messages {
    overflow-y: auto;
    /* Add the ability to scroll */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.spinning-btn {
    animation: none;
}

.spin {
    animation: spin 0.5s ease-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swipe-right {
    animation: swipe-right 0.8s ease-out;
}


@keyframes swipe-right {
    100% {
        transform: translateX(300%);
    }
}