.messages::-webkit-scrollbar {
    display: none;
}

.messages {
    overflow-y: scroll;
    /* Add the ability to scroll */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}