textarea {
    resize: none !important;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea {
    overflow-y: scroll;
    /* Add the ability to scroll */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.enter-hint {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.9s;
    transition-delay: 1s;
}